.container {
  text-align: center;
  width: 1000px;
  margin: auto;
}

.custom-btn {
  padding: 10px 16px;
  font-size: 16px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-box {
  border: 1px black solid;
  color: black;
}